@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
    .section {
        @apply container mx-auto
    }
    .btn {
        @apply rounded-full px-4 py-3 text-sm duration-200 hover:brightness-110
    }
    .btn-primary {
        @apply bg-primary text-secondary
    }
    .nav-link {
        @apply p-2 hover:bg-primary/[4%] text-sm line-clamp-1 rounded duration-200
    }
    .nav-link.active {
        @apply bg-primary/[8%]
    }
}
.p-dialog {
   @apply bg-secondary border-none !important
}
.input-text{
    @apply p-2 text-primary bg-primary/[8%] rounded focus:outline-none
}
::-webkit-scrollbar {
    width: 8px;
    border-radius: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #ececec;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #ececec;
}

/* HTML: <div class="loader"></div> */
/* HTML: <div class="loader"></div> */
.loader {
    width: 30px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#ececec 90%,transparent);
    background:
            var(--_g) 0%   50%,
            var(--_g) 50%  50%,
            var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;

}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}
